*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 5px;
    height: 0px;
    border-radius: 22px;

}
::-webkit-scrollbar-thumb{
    width: 100%;
    height: 10px;
    border-radius: 22px;
    background-color: #0000009c;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow-x: hidden ;

}

footer{
    width: 100vw;
    height: 40vh;
}
